.project-card-image {
  height: 80%;
  border-radius: 6px;
  padding: 3% 10%;
  border: 1px solid rgba(255, 255, 255, 0.06);
  transition: scale 0.4s;
}

.project-card-image div {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
  border: 3px solid rgba(255, 255, 255, 0.06);
  border-radius: 6px;
  background-image: url("https://res.cloudinary.com/dgl5jcwgb/image/upload/v1700377042/img_afztvh.png");
}

img {
  border-radius: 6px;
}
